
/* COMMON RULES */
header, footer, main, div, img, a, h1, h2, h3, h4, h5, p, section, ul, li, input {
	padding: 0;
	margin: 0;
	color: #2f1b15;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}


:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;} 

::-webkit-input-placeholder {	color:#cccccc;
								font-family: 'PT Sans', sans-serif;
								font-size: 16px;
								line-height: 16px;}
::-moz-placeholder          {color:#cccccc;
								font-family: 'PT Sans', sans-serif;
								font-size: 16px;
								line-height: 16px;}/* Firefox 19+ */
:-moz-placeholder           {color:#cccccc;
								font-family: 'PT Sans', sans-serif;
								font-size: 16px;
								line-height: 16px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#cccccc;
								font-family: 'PT Sans', sans-serif;
								font-size: 16px;
								line-height: 16px;}

body {
	padding: 20px 40px;
	width: 1000px;
	max-width: 96%;
	margin: 0 auto;
}
label, textarea {
	display: inline-block;
	width: 100%;
	padding: 5px;
	margin: 5px 0;	
}
label {
	margin-top: 20px;
}

h1 {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

button {
	display: block;
	width: 160px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	background-color: #34abdc;
	color: #fff;
	font-size: 18px;
}